<div class="main-layout">
  <header>
    <h1>FOOTDRAFT ⚽</h1>
    <!-- Visualització dels footcoins al costat del menú d'usuari -->
    <div class="user-header">
      <button class="user-menu">User Menu</button>
      <div class="user-info">
        <!-- Icona de footcoins -->
        <i class="material-icons">account_balance_wallet</i>
        <span>{{ footcoins | number }}</span>
        <!-- Botó de logout -->
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

  <div class="content">
    <aside>
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/store">Tenda</a>
        <a routerLink="/players">Players</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/tournaments">Tournament</a>
        <a routerLink="/match">JUGAR!!!</a>
      </nav>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>