.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #004d00;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.user-info i {
  font-size: 24px;
  margin-right: 5px;
}

.user-menu {
  background-color: #008800;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.user-menu:hover {
  background-color: #016f01;
}

.content {
  display: flex;
  flex: 1;
}

aside {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
}

main {
  flex: 1;
  padding: 20px;
}

nav a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
}

nav a:hover {
  background-color: #ddd;
}

.logout-button {
  margin-left: 20px;
  background-color: #cc0000; /* Vermell intens per destacar */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #a30000; /* To més fosc en passar el cursor */
  transform: scale(1.05); /* Petit efecte de creixement */
}

.logout-button:active {
  background-color: #800000; /* Encara més fosc en ser clicat */
  transform: scale(0.95); /* Lleuger efecte de contracció */
}
