<div class="main-layout">
  <header>
    <div style="display: flex; align-items: center;">
      <button class="menu-toggle" (click)="toggleMenu()">
        <i class="material-icons">menu</i>
      </button>
      <h1>FOOTDRAFT ⚽</h1>
    </div>
    <div class="user-header">
      <button class="user-menu">User Menu</button>
      <div class="user-info">
        <i class="material-icons">account_balance_wallet</i>
        <span>{{ footcoins | number }}</span>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="menu-overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>
    <aside [class.open]="menuOpen">
      <nav>
        <a routerLink="/dashboard" (click)="closeMenu()">Dashboard</a>
        <a routerLink="/store" (click)="closeMenu()">Tenda</a>
        <a routerLink="/players" (click)="closeMenu()">Players</a>
        <a routerLink="/teams" (click)="closeMenu()">Teams</a>
        <a routerLink="/tournaments" (click)="closeMenu()">Tournament</a>
        <a routerLink="/match" (click)="closeMenu()">JUGAR!!!</a>
      </nav>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>