<div class="main-layout">
  <header>
    <h1>FOOTDRAFT ⚽</h1>
    <div class="user-menu">
      <button>User Menu</button>
    </div>
  </header>
  
  <div class="content">
    <aside>
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/store">Tenda</a>
        <a routerLink="/players">Players</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/tournaments">Tournament</a>
        <a routerLink="/match">JUGAR!!!</a>
      </nav>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
